<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="listeners" name="%ExtensionPoint.listeners.name" schema="schema/listeners.exsd"/>
   <extension-point id="valueadds" name="%ExtensionPoint.valueadds.name" schema="schema/valueadds.exsd"/>
   <extension-point id="valueaddBindings" name="%ExtensionPoint.valueaddBindings.name" schema="schema/valueaddBindings.exsd"/>

<!-- TCF framework startup participant -->   
   <extension point="org.eclipse.tcf.startup">
      <class name="org.eclipse.tcf.te.tcf.core.internal.Startup"/>
   </extension>

<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            id="org.eclipse.tcf.te.tcf.core.services.pathmapresolver"
            class="org.eclipse.tcf.te.tcf.core.internal.services.PathMapResolverService">
         <serviceType class="org.eclipse.tcf.te.tcf.core.interfaces.IPathMapResolverService"/>
      </service>
   </extension>

<!-- Step contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steps">
      <step
            id="org.eclipse.tcf.te.tcf.core.openChannelStep"
            class="org.eclipse.tcf.te.tcf.core.steps.OpenChannelStep"
            label="%OpenChannelStep.name"/>
      <step
            id="org.eclipse.tcf.te.tcf.core.closeChannelStep"
            class="org.eclipse.tcf.te.tcf.core.steps.CloseChannelStep"
            label="%CloseChannelStep.name">
         <requires id="org.eclipse.tcf.te.tcf.core.openChannelStep"/>
      </step>
      <step
            id="org.eclipse.tcf.te.tcf.core.shutDownStep"
            class="org.eclipse.tcf.te.tcf.core.steps.ShutDownStep"
            label="%ShutDownStep.name"/>
            
      <step
            id="org.eclipse.tcf.te.tcf.core.internal.launchValueAddStep"
            class="org.eclipse.tcf.te.tcf.core.steps.internal.LaunchValueAddStep"
            label="%LaunchValueAddStep.name"/>
      <step
            id="org.eclipse.tcf.te.tcf.core.internal.chainPeerStep"
            class="org.eclipse.tcf.te.tcf.core.steps.internal.ChainPeerStep"
            label="%ChainPeerStep.name"/>
      <step
            id="org.eclipse.tcf.te.tcf.core.internal.applyPathMapsStep"
            class="org.eclipse.tcf.te.tcf.core.steps.internal.ApplyPathMapsStep"
            label="%ApplyPatMapsStep.name"/> 
      <step
            id="org.eclipse.tcf.te.tcf.core.internal.closeChannelStep"
            class="org.eclipse.tcf.te.tcf.core.steps.internal.CloseChannelStep"
            label="%CloseChannelStep.name"/>
      <step
            id="org.eclipse.tcf.te.tcf.core.internal.shutdownValueAddsStepGroup"
            class="org.eclipse.tcf.te.tcf.core.steps.internal.ShutdownValueAddStep"
            label="%ShutdownValueAddStep.name"/>
            
   </extension>

<!-- Step contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.stepGroups">
      <stepGroup id="org.eclipse.tcf.te.tcf.core.openChannelStepGroup">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.launchValueAddsStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.core.chainPeersStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.core.internal.applyPathMapsStep"/>
         </references>      	
      </stepGroup>
      <stepGroup id="org.eclipse.tcf.te.tcf.core.internal.launchValueAddsStepGroup"
            iterator="org.eclipse.tcf.te.tcf.core.iterators.ValueAddsIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.internal.launchValueAddStep"/>
         </references>      	
      </stepGroup>
      <stepGroup id="org.eclipse.tcf.te.tcf.core.internal.chainPeersStepGroup"
            iterator="org.eclipse.tcf.te.tcf.core.iterators.ChainPeersIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.internal.chainPeerStep"/>
         </references>      	
      </stepGroup>
      

      <stepGroup id="org.eclipse.tcf.te.tcf.core.closeChannelStepGroup">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.internal.closeChannelStep"/>
            <reference id="org.eclipse.tcf.te.tcf.core.shutdownValueAddsStepGroup"/>
         </references>      	
      </stepGroup>
      <stepGroup id="org.eclipse.tcf.te.tcf.core.internal.shutdownValueAddsStepGroup"
            iterator="org.eclipse.tcf.te.tcf.core.iterators.ValueAddsIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.internal.shutdownValueAddStep"/>
         </references>      	
      </stepGroup>
   </extension>
   
</plugin>
