<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Terminal connector contributions -->
   <extension point="org.eclipse.tm.terminal.control.connectors">
      <connector 
            name="%TerminalConnector.terminals"
            id="org.eclipse.tcf.te.tcf.terminals.ui.TerminalsConnector"
            hidden="true"
            class="org.eclipse.tcf.te.tcf.terminals.ui.connector.TerminalsConnector"/>
   </extension>

<!-- Terminals launcher delegate contributions -->
   <extension point="org.eclipse.tm.terminal.view.ui.launcherDelegates">
      <delegate
            class="org.eclipse.tcf.te.tcf.terminals.ui.launcher.TerminalsLauncherDelegate"
            id="org.eclipse.tcf.te.ui.terminals.launcher.tcf"
            label="%launcherDelegate.label"
            hidden="true">
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </enablement>
      </delegate>
   </extension>

</plugin>
