<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"
            class="org.eclipse.tcf.te.tcf.ui.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.jface.viewers.ILabelProvider"/>
         <adapter type="org.eclipse.ui.IPersistableElement"/>
         <adapter type="org.eclipse.tcf.te.ui.views.interfaces.categories.ICategorizable"/>
      </factory>
      
      <factory
            adaptableType="org.eclipse.tcf.te.ui.views.editor.EditorInput"
            class="org.eclipse.tcf.te.tcf.ui.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
         <adapter type="org.eclipse.tcf.te.ui.views.interfaces.IEditorSaveAsAdapter"/>
      </factory>
   </extension>   

<!-- Element factory contributions -->   
   <extension point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.tcf.te.tcf.ui.internal.adapters.PeerNodeFactory"
            id="org.eclipse.tcf.te.ui.views.peerFactory">
      </factory>
   </extension>

<!-- Eclipse core expressions property tester -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.tcf.ui.internal.PropertyTester"
            id="org.eclipse.tcf.te.tcf.ui.propertyTester"
            namespace="org.eclipse.tcf.te.tcf.ui"
            properties="canDelete"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.tcf.te.tcf.ui.internal.PropertyTester"
            id="org.eclipse.tcf.te.tcf.ui.propertyTester.wizard"
            namespace="org.eclipse.tcf.te.tcf.ui"
            properties="isWizardId"
            type="org.eclipse.tcf.te.ui.views.navigator.nodes.NewWizardNode">
      </propertyTester>
      <propertyTester
            class="org.eclipse.tcf.te.tcf.ui.internal.PropertyTester"
            id="org.eclipse.tcf.te.tcf.ui.propertyTester.simulator"
            namespace="org.eclipse.tcf.te.tcf.ui"
            properties="isValidSimulatorConfig"
            type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode">
      </propertyTester>
   </extension>

<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            class="org.eclipse.tcf.te.tcf.ui.internal.services.DefaultContextService"
            id="org.eclipse.tcf.te.tcf.ui.services.DefaultContextService">
         <serviceType
               bundleId="org.eclipse.tcf.te.tcf.locator"
               class="org.eclipse.tcf.te.tcf.locator.interfaces.services.IDefaultContextService"/>
      </service>

      <service
            class="org.eclipse.tcf.te.tcf.ui.internal.services.UIService"
            id="org.eclipse.tcf.te.tcf.ui.services.UIService">
         <serviceType class="org.eclipse.tcf.te.runtime.services.interfaces.IUIService"/>
         <enablement>
            <and>
               <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
               <test property="org.eclipse.tcf.te.tcf.locator.isOfType" value="null"/>
            </and>
         </enablement>
      </service>
   </extension>
   
<!-- Preference contributions -->   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.tcf.te.tcf.ui.internal.preferences.PreferencesInitializer"/>
   </extension>

<!-- Event listener contributions -->
   <extension point="org.eclipse.tcf.te.runtime.eventListeners">
      <eventListener
            class="org.eclipse.tcf.te.tcf.ui.navigator.events.EventListener">
         <eventSourceType
               bundleId="org.eclipse.tcf.te.tcf.locator"
               class="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode">
         </eventSourceType>
      </eventListener>
   </extension>

<!-- Common navigator contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.tcf.te.ui.views.View">
         <includes>
            <contentExtension
                  pattern="org.eclipse.tcf.te.tcf.ui.navigator.*"/>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.tcf.te.tcf.ui.navigator.dnd.DragAssistant"
            viewerId="org.eclipse.tcf.te.ui.views.View">
      </dragAssistant>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.tcf.te.tcf.ui.navigator.ContentProvider"
            icon="icons/obj16/rootNode_obj.gif"
            id="org.eclipse.tcf.te.tcf.ui.navigator.content"
            labelProvider="org.eclipse.tcf.te.ui.views.navigator.DelegatingLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
            <triggerPoints>
               <or>
                  <instanceof value="org.eclipse.tcf.te.ui.views.interfaces.IRoot"/>
                  <instanceof value="org.eclipse.tcf.te.ui.views.interfaces.ICategory"/>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  <instanceof value="org.eclipse.tcf.te.tcf.ui.navigator.nodes.PeerRedirectorGroupNode"/>
               </or>
            </triggerPoints>
            <possibleChildren>
               <or>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  <instanceof value="org.eclipse.tcf.te.tcf.ui.navigator.nodes.PeerRedirectorGroupNode"/>
               </or>               
            </possibleChildren>
            <commonSorter
                  class="org.eclipse.tcf.te.ui.trees.TreeViewerSorterCaseInsensitive"
                  id="org.eclipse.tcf.te.tcf.ui.navigator.sorter"/>
            <commonWizard
                  type="new"
                  wizardId="org.eclipse.tcf.te.tcf.ui.wizards.NewTargetWizard">
               <enablement>
                  <or>
                     <instanceof value="org.eclipse.tcf.protocol.IPeer"/>
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                        <test property="org.eclipse.tcf.te.tcf.locator.isOfType" value="null"/>
                     </and>
                     <and>
                        <instanceof value="org.eclipse.tcf.te.ui.views.interfaces.ICategory"/>
                        <test property="org.eclipse.tcf.te.ui.views.isCategoryID" value="org.eclipse.tcf.te.ui.views.category.mytargets"/>
                     </and>
                  </or>
               </enablement>
            </commonWizard>
            <dropAssistant
                  class="org.eclipse.tcf.te.tcf.ui.navigator.dnd.DropAssistant"
                  id="org.eclipse.tcf.te.tcf.ui.navigator.dnd">
               <possibleDropTargets>
                  <or>
                     <instanceof value="org.eclipse.tcf.te.ui.views.interfaces.ICategory"/>
                     <instanceof value="org.eclipse.tcf.te.ui.views.interfaces.IRoot"/>
                  </or>
               </possibleDropTargets>
            </dropAssistant>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tcf.te.tcf.ui.filter.RedirectPeersFilter"
            id="org.eclipse.tcf.te.tcf.ui.navigator.RedirectPeersFilter"
            name="%RedirectPeersFilter.name"
            visibleInUI="false">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.eclipse.tcf.te.tcf.ui.filter.PeersByCurrentUserFilter"
            id="org.eclipse.tcf.te.tcf.ui.navigator.PeersByCurrentUserFilter"
            name="%PeersByCurrentUserFilter.name"
            visibleInUI="true">
      </commonFilter>
   </extension>

<!-- Label provider delegates -->
   <extension point="org.eclipse.tcf.te.ui.views.labelProviderDelegates">
      <labelProviderDelegate
            class="org.eclipse.tcf.te.tcf.ui.navigator.PeerLabelProviderDelegate"
            id="org.eclipse.tcf.te.tcf.ui.peerLabelProviderDelegate">
         <enablement>
            <or>
               <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
               <instanceof value="org.eclipse.tcf.protocol.IPeer"/>
               <instanceof value="org.eclipse.tcf.te.tcf.ui.navigator.nodes.PeerRedirectorGroupNode"/>
            </or>
         </enablement>
      </labelProviderDelegate>
   </extension>

<!-- Decorator contributions -->   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.tcf.te.ui.views.navigator.DelegatingLabelProvider"
            id="org.eclipse.tcf.te.tcf.ui.decorators.peerHost"
            label="%peerhost.decorator.label"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.tcf.te.core.interfaces.IDecoratable"/>
         </enablement>
      </decorator>
   </extension>

<!-- New target wizard contributions -->
   <extension point="org.eclipse.tcf.te.ui.newWizards">
      <category
            id="org.eclipse.tcf.te.tcf.ui.newWizards.category"
            name="%NewWizards.category.name">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.tcf.te.tcf.ui.newWizards.category"
            class="org.eclipse.tcf.te.tcf.ui.wizards.NewTargetWizard"
            hasPages="true"
            icon="icons/elcl16/newTarget_wiz.gif"
            id="org.eclipse.tcf.te.tcf.ui.wizards.NewTargetWizard"
            name="%NewTargetWizard.name">
            <description>
               %NewTargetWizard.description
            </description>
      </wizard>
   </extension>
   
<!-- Import/Export wizard contributions -->
   <extension point="org.eclipse.ui.importWizards">
      <category
            name="%ImportWizards.Category.TCF"
            id="org.eclipse.tcf.te.tcf.ui.wizard.category.import.tcf">
      </category>
      
      <wizard
            name="%ImportWizards.Peer"
            icon="icons/obj16/peer.gif"
            id="org.eclipse.tcf.te.tcf.ui.wizards.import.tcf"
            category="org.eclipse.tcf.te.tcf.ui.wizard.category.import.tcf"            
            class="org.eclipse.tcf.te.tcf.ui.wizards.PeerImportWizard">
         <description>
            %ImportWizards.PeerDescription
         </description>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.exportWizards">
      <category
            name="%ExportWizards.Category.TCF"
            id="org.eclipse.tcf.te.tcf.ui.wizard.category.export.tcf">
      </category>
      
      <wizard
            name="%ExportWizards.Peer"
            icon="icons/obj16/peer.gif"
            id="org.eclipse.tcf.te.tcf.ui.wizards.export.tcf"
            category="org.eclipse.tcf.te.tcf.ui.wizard.category.export.tcf"            
            class="org.eclipse.tcf.te.tcf.ui.wizards.PeerExportWizard">
         <description>
            %ExportWizards.PeerDescription
         </description>
      </wizard>
   </extension>

<!-- actionSet contributions -->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.tcf.te.tcf.ui.launch.gettingStartedActionSet"
            label="Getting Started Action Set (Target Explorer)"
            visible="false">
         <action
               class="org.eclipse.tcf.te.tcf.ui.actions.ToolbarAction"
               helpContextId="org.eclipse.tcf.te.tcf.ui.command_ToolbarAction"
               icon="icons/obj16/peer.gif"
               id="org.eclipse.tcf.te.tcf.ui.ToolbarAction"
               label="%ToolbarAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/emptyLaunchGroup">
         </action>
      </actionSet>
   </extension>

<!-- Perspective contributions -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.tcf.te.ui.perspective">
         <actionSet
               id="org.eclipse.tcf.te.tcf.ui.launch.gettingStartedActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

<!-- Editor page contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tcf.te.tcf.ui.editor.OverviewEditorPage"
            name="%OverviewEditorPage.name"
            id="org.eclipse.tcf.te.tcf.ui.OverviewEditorPage">
      </editorPage>
   </extension>

<!-- Editor page binding contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPageBindings">
      <editorPageBinding
            id="org.eclipse.tcf.te.tcf.ui.binding.OverviewEditorPage"
            pageId="org.eclipse.tcf.te.tcf.ui.OverviewEditorPage"
            insertBefore="first">
         <enablement>
            <with variable="activeEditorInput">
               <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode">
                  <test property="org.eclipse.tcf.te.tcf.locator.isOfType" value="null"/>
               </adapt>
            </with>
         </enablement>
      </editorPageBinding>
   </extension>

<!-- Preference page contributions -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.tcf.te.ui.preferences.general"
            class="org.eclipse.tcf.te.tcf.ui.preferences.LoggingPreferencePage"
            id="org.eclipse.tcf.te.ui.preferences.tcf.logging"
            name="%preference.page.name">
      </page>
   </extension>

<!-- Menu contributions -->
   <extension point="org.eclipse.ui.menus">

   <!-- View context menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.delete">
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/delete.gif"
               helpContextId="org.eclipse.tcf.te.ui.command_Delete"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete.gif"
               id="org.eclipse.tcf.te.ui.commands.delete"
               label="%command.delete.label"
               mnemonic="%command.delete.mnemonic"
               tooltip="%command.delete.tooltip">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="+"/>
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               helpContextId="org.eclipse.tcf.te.tcf.ui.command_Rename"
               icon="icons/elcl16/rename.gif"
               id="org.eclipse.tcf.te.tcf.ui.commands.rename"
               label="%command.rename.label"
               mnemonic="%command.rename.mnemonic"
               tooltip="%command.rename.tooltip">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.refresh">
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               label="%command.refresh.label"
               style="push"
               tooltip="%command.refresh.tooltip">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="+"/>
                  <iterate operator="and" ifEmpty="false">
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                        <or>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.tcf.te.runtime.services.hasService"
                                    value="org.eclipse.tcf.te.runtime.services.interfaces.IMenuService"/>
                           </not>
                           <test
                                 property="org.eclipse.tcf.te.runtime.services.menu.isVisible"
                                 args="org.eclipse.tcf.te.ui.command.refresh"
                                 value="true"/>
                        </or>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.launch.rundebug">
         <command commandId="org.eclipse.tcf.te.tcf.ui.command.debug">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="and" ifEmpty="false">
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                        <or>
                           <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="RunControl"/>
                           <test property="org.eclipse.tcf.te.tcf.locator.hasOfflineService" value="RunControl"/>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.tcf.te.runtime.services.hasService"
                                    value="org.eclipse.tcf.te.runtime.services.interfaces.IMenuService"/>
                           </not>
                           <test
                                 property="org.eclipse.tcf.te.runtime.services.menu.isVisible"
                                 args="org.eclipse.tcf.te.tcf.ui.command.debug"
                                 value="true"/>
                        </or>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command> 
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.importexport">
          <command commandId="org.eclipse.ui.file.import">
             <visibleWhen checkEnabled="false">
                <with variable="selection">
                   <iterate operator="and" ifEmpty="false">
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                         <or>
                            <not>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.tcf.te.runtime.services.hasService"
                                     value="org.eclipse.tcf.te.runtime.services.interfaces.IMenuService"/>
                            </not>
                            <test
                                  property="org.eclipse.tcf.te.runtime.services.menu.isVisible"
                                  args="org.eclipse.ui.file.import"
                                  value="true"/>
                         </or>
                      </and>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command commandId="org.eclipse.ui.file.export">
             <visibleWhen checkEnabled="false">
                <with variable="selection">
                   <iterate operator="and" ifEmpty="false">
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                         <or>
                            <not>
                               <test
                                     forcePluginActivation="true"
                                     property="org.eclipse.tcf.te.runtime.services.hasService"
                                     value="org.eclipse.tcf.te.runtime.services.interfaces.IMenuService"/>
                            </not>
                            <test
                                  property="org.eclipse.tcf.te.runtime.services.menu.isVisible"
                                  args="org.eclipse.ui.file.export"
                                  value="true"/>
                         </or>
                      </and>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
      </menuContribution>

   <!-- Editor page toolbar contributions -->
      <menuContribution locationURI="toolbar:org.eclipse.tcf.te.tcf.ui.OverviewEditorPage?after=group.connect">
         <command commandId="org.eclipse.tcf.te.ui.editor.command.connect">
            <visibleWhen checkEnabled="false">
               <reference definitionId="te.expressions.editor.IConnectable"/>
            </visibleWhen>
         </command>
         <command commandId="org.eclipse.tcf.te.ui.editor.command.disconnect">
            <visibleWhen checkEnabled="false">
               <reference definitionId="te.expressions.editor.IConnectable"/>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution locationURI="toolbar:org.eclipse.tcf.te.tcf.ui.OverviewEditorPage?after=group.launch.rundebug">
         <command commandId="org.eclipse.tcf.te.tcf.ui.editor.command.debug"/>
      </menuContribution>

      <menuContribution locationURI="menu:org.eclipse.tcf.te.tcf.ui.OverviewEditorPage">
         <separator visible="true" name="group.delete"/>
         <command commandId="org.eclipse.ui.edit.delete"/>
      </menuContribution>

   <!-- Status line trim area -->
      <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar id="org.eclipse.tcf.te.tcf.ui.trim.status.activeconnection">
            <control
                  class="org.eclipse.tcf.te.tcf.ui.controls.DefaultContextStatusTrimControl"
                  id="org.eclipse.tcf.te.tcf.ui.trim.status.DefaultContextStatusTrimControl">
               <visibleWhen checkEnabled="false">
                  <or>
                     <test
                           property="org.eclipse.tcf.te.runtime.preference"
                           args="bundleId=org.eclipse.tcf.te.tcf.ui,key=te.tcf.ui.feature.statusbar.trim.defaultcontext.enable"
                           value="true">
                     </test>
                     <test
                           property="org.eclipse.tcf.te.core.hasEnvVar"
                           args="trim.defaultcontext.enable"
                           value="true">
                     </test>
                  </or>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>

   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.tcf.te.tcf.ui.command.debug"
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.tcf.ui.command_Debug"
            name="%command.debug.label"
            description="%command.debug.tooltip">
      </command>
      <command
            id="org.eclipse.tcf.te.tcf.ui.editor.command.debug"
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.tcf.ui.command_Debug"
            name="%command.debug.label"
            description="%command.debug.tooltip">
      </command>
   </extension>

<!-- Command image contributions -->
   <extension point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.tcf.te.tcf.ui.command.debug"
            icon="icons/etool16/debug_exc.gif">
      </image>
      <image
            commandId="org.eclipse.tcf.te.tcf.ui.editor.command.debug"
            icon="icons/etool16/debug_exc.gif">
      </image>
   </extension>

<!-- Handler contributions -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.edit.delete"
            class="org.eclipse.tcf.te.tcf.ui.handler.DeleteHandler">
            <activeWhen>
               <with variable="selection">
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </activeWhen>
            <enabledWhen>
               <with variable="selection">
                  <test property="org.eclipse.tcf.te.tcf.ui.canDelete" value="true"/>
               </with>
            </enabledWhen>
      </handler>

      <handler
            commandId="org.eclipse.ui.edit.rename"
            class="org.eclipse.tcf.te.tcf.ui.handler.RenameHandler">
            <activeWhen>
               <with variable="selection">
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </activeWhen>
            <enabledWhen>
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </enabledWhen>
      </handler>

      <handler
            commandId="org.eclipse.tcf.te.ui.command.refresh"
            class="org.eclipse.tcf.te.tcf.ui.handler.RefreshHandler">
            <activeWhen>
               <with variable="selection">
                  <iterate operator="and" ifEmpty="false">
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                  </iterate>
               </with>
            </activeWhen>
            <enabledWhen>
               <with variable="selection">
                  <iterate operator="and" ifEmpty="false">
                     <and>
                        <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                        <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                     </and>
                  </iterate>
               </with>
            </enabledWhen>
      </handler>

      <handler
            commandId="org.eclipse.tcf.te.tcf.ui.command.debug"
            class="org.eclipse.tcf.te.tcf.ui.handler.StartDebugCommandHandler">
         <activeWhen>
            <with variable="systemManagerViewSelection">
               <iterate operator="and" ifEmpty="false">
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with variable="systemManagerViewSelection">
               <count value="1"/>
               <iterate operator="and" ifEmpty="false">
                  <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode">
                     <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="RunControl"/>
                     <test property="org.eclipse.tcf.te.launch.core.isLaunched" value="false"/>
                  </adapt>
                </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.tcf.te.tcf.ui.editor.command.debug"
            class="org.eclipse.tcf.te.tcf.ui.handler.StartDebugCommandHandler">
            <activeWhen>
               <with variable="activeEditorInput">
                  <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
               </with>
            </activeWhen>
            <enabledWhen>
               <with variable="activeEditorInput">
                  <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode">
                     <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="RunControl"/>
                     <test property="org.eclipse.tcf.te.launch.core.isLaunched" value="false"/>
                  </adapt>
               </with>
            </enabledWhen>
      </handler>
   </extension>
   
<!-- Tabbed properties view contributions -->   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.tcf.te.ui">
         <propertyTab
               category="org.eclipse.tcf.te"
               id="org.eclipse.tcf.te.ui.views.propertyTab.peer.general"
               label="%propertyTab.general.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.tcf.te.ui">
         <propertySection
               class="org.eclipse.tcf.te.tcf.ui.internal.tabbed.PeerGeneralSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.ui.internal.tabbed.PeerGeneralSectionFilter"
               id="org.eclipse.tcf.te.ui.views.propertysections.peer.general"
               tab="org.eclipse.tcf.te.ui.views.propertyTab.peer.general">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
