<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.debug.core.ILaunch"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.stepper.interfaces.IStepContext"/>
      </factory>
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.debug.core.ILaunchConfiguration"/>
         <adapter type="org.eclipse.debug.core.ILaunchConfigurationWorkingCopy"/>
      </factory>
      <factory
            adaptableType="org.eclipse.tcf.protocol.IPeer"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.debug.core.ILaunchConfiguration"/>
         <adapter type="org.eclipse.debug.core.ILaunchConfigurationWorkingCopy"/>
      </factory>
   </extension>

<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            id="org.eclipse.tcf.te.tcf.launch.services.persistence.import"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.services.ImportPersistenceService">
         <serviceType class="org.eclipse.tcf.te.tcf.core.interfaces.IImportPersistenceService"/>
      </service>
      <service
            id="org.eclipse.tcf.te.tcf.launch.services.persistence.export"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.services.ExportPersistenceService">
         <serviceType class="org.eclipse.tcf.te.tcf.core.interfaces.IExportPersistenceService"/>
      </service>
      <service
            id="org.eclipse.tcf.te.tcf.launch.services.pathmap"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.services.PathMapService">
         <serviceType class="org.eclipse.tcf.te.tcf.core.interfaces.IPathMapService"/>
      </service>
   </extension>

<!-- Event listener contributions -->
   <extension point="org.eclipse.tcf.te.runtime.eventListeners">
      <eventListener
            class="org.eclipse.tcf.te.tcf.launch.core.internal.EventListener"
            forcePluginActivation="true">
            <eventSourceType
                  class="org.eclipse.tcf.te.tcf.ui.handler.DeleteHandler"
                  bundleId="org.eclipse.tcf.te.tcf.ui">
            </eventSourceType>
            <eventType
                  class="org.eclipse.tcf.te.tcf.core.events.DeletedEvent"
                  bundleId="org.eclipse.tcf.te.tcf.core">
            </eventType>
      </eventListener>
   </extension>
   
<!-- Launch Configuration Type contributions -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app"
            sourceLocatorId="org.eclipse.tcf.debug.SourceLocator"
            sourcePathComputerId="org.eclipse.tcf.te.launch.core.sourcePathComputer"
            delegate="org.eclipse.tcf.te.tcf.launch.core.delegates.LaunchConfigurationDelegate"
            modes="run,debug"
            name="%LaunchType.Remote.App.name"/>
      <launchConfigurationType
            id="org.eclipse.tcf.te.tcf.launch.type.attach"
            sourceLocatorId="org.eclipse.tcf.debug.SourceLocator"
            sourcePathComputerId="org.eclipse.tcf.te.launch.core.sourcePathComputer"
            delegate="org.eclipse.tcf.te.tcf.launch.core.delegates.LaunchConfigurationDelegate"
            modes="debug"
            name="%LaunchType.Attach.name"/>
   </extension>
   
<!-- Launch Configuration Type Binding contributions -->
   <extension point="org.eclipse.tcf.te.launch.core.launchConfigTypeBindings">
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.remote.app">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"
               modes="run"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
               modes="run"/>
         <enablement>
            <with variable="context">
               <or>
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                  </adapt>
                  <and>
                     <!-- binds to generic connections only -->
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                     <test property="org.eclipse.tcf.te.tcf.locator.isOfType" value="null"/>
                  </and>
               </or>
            </with>
         </enablement>
      </launchConfigTypeBinding>
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.remote.app">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"
               modes="debug"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
               modes="debug"/>
         <enablement>
            <with variable="context">
               <or>
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                  </adapt>
                  <and>
                     <!-- binds to generic connections only -->
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
                     <test property="org.eclipse.tcf.te.tcf.locator.isOfType" value="null"/>
                  </and>
               </or>
            </with>
         </enablement>
      </launchConfigTypeBinding>
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.attach">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.attach.launchManagerDelegate"
               modes="debug"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.attach.stepGroup"
               modes="debug"/>
         <enablement>
            <with variable="context">
               <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerNode"/>
            </with>
         </enablement>
      </launchConfigTypeBinding>
   </extension>
   
<!-- Launch Manager Delegate contributions -->
   <extension point="org.eclipse.tcf.te.launch.core.launchManagerDelegates">
      <delegate
            class="org.eclipse.tcf.te.tcf.launch.core.lm.delegates.RemoteAppLaunchManagerDelegate"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"/>
      <delegate
            class="org.eclipse.tcf.te.tcf.launch.core.lm.delegates.AttachLaunchManagerDelegate"
            id="org.eclipse.tcf.te.tcf.launch.type.attach.launchManagerDelegate"/>
   </extension>
   
<!-- Launch Step Group contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.stepGroups">
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
            label="%LaunchStepGroup.Remote.App.name"
            iterator="org.eclipse.tcf.te.launch.core.steps.iterators.LaunchContextIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.locator.connectNoAttachStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.core.openChannelStep"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.launchProcessStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep">
               <enablement>
                  <with variable="context">
                     <adapt type="org.eclipse.debug.core.ILaunch">
                        <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                     </adapt>
                  </with>
               </enablement>
            </reference>
            <reference id="org.eclipse.tcf.te.launch.core.removeLaunchStep">
               <enablement>
                  <not>
                     <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                  </not>
               </enablement>
            </reference>
         </references>
      </stepGroup>
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.core.launchProcessStepGroup"
            label="%LaunchStepGroup.LaunchProcess.name"
            iterator="org.eclipse.tcf.te.tcf.launch.core.steps.iterators.LaunchProcessIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.locator.checkServiceStep">
               <parameter name="remoteService" value="Processes"/>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.locator.checkServiceStep">
               <parameter name="remoteService" value="RunControl"/>
               <enablement>
                  <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
               </enablement>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.processes.core.launchProcessStep"/>
            <reference id="org.eclipse.tcf.te.tcf.processes.core.resumeProcessStep">
               <enablement>
                  <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
               </enablement>
            </reference>
         </references>
      </stepGroup>
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStepGroup"
            label="%LaunchStepGroup.FileTransfer.name"
            iterator="org.eclipse.tcf.te.tcf.launch.core.steps.iterators.FileTransferIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.locator.checkServiceStep">
               <parameter name="remoteService" value="FileSystem"/>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.filesystem.core.fileTransferStep"/>
         </references>
      </stepGroup>
      
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.type.attach.stepGroup"
            label="%LaunchStepGroup.Attach.name"
            iterator="org.eclipse.tcf.te.launch.core.steps.iterators.LaunchContextIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.core.openChannelStep"/>
            <reference id="org.eclipse.tcf.te.tcf.locator.checkServiceStep">
               <parameter name="remoteService" value="RunControl"/>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep">
               <enablement>
                  <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
               </enablement>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.core.closeChannelStep"/>
         </references>
      </stepGroup>
   </extension>
   
<!-- Launch Step contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steps">
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.AttachDebuggerStep"
            label="%LaunchStep.AttachDebugger.name"/>
   </extension>

</plugin>
