<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor
            class="org.eclipse.tcf.te.tcf.remote.ui.TCFFileSystemContributor"
            label="TCF"
            scheme="tcf">
      </filesystemContributor>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="org.eclipse.tcf.te.tcf.remote"
            factory="org.eclipse.tcf.te.tcf.remote.ui.TCFUIServicesFactory"
            service="org.eclipse.remote.ui.IRemoteUIFileService">
      </connectionTypeService>
      <connectionTypeService
            connectionTypeId="org.eclipse.tcf.te.tcf.remote"
            factory="org.eclipse.tcf.te.tcf.remote.ui.TCFUIServicesFactory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>

</plugin>
